@import "tailwindcss";

@layer base {
  :root {
    --primary: #C04A2F;
    --secondary: #f5f5f5;
    --accent: #2F6B4F;
    --neutral-dark: #1F1F1F;
    --neutral-light: #FAFAF8;
    --surface: #ffffff;
  }
}

@theme {
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-neutral-dark: var(--neutral-dark);
  --color-neutral-light: var(--neutral-light);
  --color-surface: var(--surface);
}

@layer base {
  * {
    border-color: var(--gray-200);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--secondary);
    color: var(--neutral-dark);
    font-family: var(--font-inter), sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-poppins), sans-serif;
    color: var(--neutral-dark);
  }
}